@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url('https://fonts.cdnfonts.com/css/ds-digital');

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
